/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    .banner .poster .logo {
        max-width: 90%;
    }
    .logo {
        max-width: 80%;
        height: 130px
    }
    .overlay-text {
        top: 25%;
        left: 50%;
    }
}
/* Small devices (tablets, between 768px and 992px) */
@media (min-width: 768px) and (max-width: 991px) {
    .banner .poster .logo {
        max-width: 90%;
    }
    .logo {
        height: 150px
    }
    .overlay-text {
        top: 40%;
        left: 50%;
    }
}
/* Medium devices (desktops, between 992px and 1200px) */
@media (min-width: 992px) and (max-width: 1199px) {
    .banner .poster .logo {
        max-width: 70%;
    }
    .logo {
        height: 150px
    }
    .overlay-text {
        top: 50%;
        left: 50%;
    }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .banner .poster  {
        max-width: 50%;
    }
    .logo {
        max-width: 60%;
        height: 170px
    }
    .overlay-text {
        top: 40%;
        left: 50%;
    }
}

.banner {
    /*background-color: yellow;*/
    display: flex;
    align-items: center;
    justify-content: center; /* Align logo to the left of banner */
    /*padding: 2px; !* Provide some space around *!*/
    width: 90%; /* Full width */
    margin: 0 auto;
}

.logo {
    /*height: 200px; !* Adjust as needed *!*/
    width: 90%; /* Keep logo aspect ratio */
}

.poster {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin: 10px auto;
}

/* CSS styles for fade in transition */

.poster-before-load {
    opacity: 0;
    transition: opacity 5s ease-in-out;
}

.poster-after-load {
    opacity: 1;
    transition: opacity 6s ease-in-out;
}

.overlay-text {
    position: absolute;
    /*top: 50%;*/
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 60px;
    text-align: center;
}



